.screen3 {
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;

  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: #4CAF50;
      color: white;
    }

    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: left;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
