<div class="screen3">
  <h2>Product List</h2>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <!-- Add more columns based on your data structure -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <!-- Add more data cells based on your data structure -->
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
