
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.notification {
  position: fixed;
  top: 20px;    // Đặt thông báo ở góc trên
  right: 20px;  // Đặt thông báo ở phía bên phải
  padding: 10px 20px;
  background-color: #007bff; // Màu nền xanh
  color: black;              // Màu chữ đen
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  animation: slideIn 0.5s ease-out;
}

.notification.hide {
  animation: slideOut 0.5s ease-out;
}
