.screen2 {
  padding: 20px;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: auto;

  h2 {
    color: #333;
    text-align: center;
  }

  .text-form, .date-picker {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;

    input[type="text"], input[type="date"] {
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-right: 10px;
    }

    button {
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      background-color: #4CAF50;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #45a049;
      }
    }

    p {
      color: #555;
      margin-top: 10px;
    }
  }
}
