<div class="screen2">
  <h2>Use utils-lib</h2>

  <div class="text-form">
    <form (submit)="onSubmit()">
      <input type="text" [(ngModel)]="textInput" name="textInput" placeholder="Enter text">
      <button type="submit">Capitalize</button>
    </form>
    <p>Result: {{ formattedText }}</p>
  </div>

  <div class="date-picker">
    <input type="date" (change)="onDateChange($event)">
    <p>Formatted Date: {{ formattedDate }}</p>
  </div>
</div>
