<div class="shell-home">
  <h1>Welcome to the Shell Home</h1>

  <div class="fragments-container">
    <div *ngFor="let p of options" class="fragment">
      <app-load-fragments [options]="p"></app-load-fragments>
    </div>
  </div>
</div>
