.shell-home {
  padding: 20px;
  text-align: center;

  h1 {
    color: #007bff;
    margin-bottom: 20px;
  }

  .fragments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .fragment {
      flex-basis: calc(33.333% - 20px); // Cho mỗi fragment chiếm khoảng 1/3 chiều rộng
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 15px;
      border-radius: 8px;
      background-color: #f8f9fa;

      // Phản ứng với các kích thước màn hình khác nhau
      @media (max-width: 768px) {
        flex-basis: calc(50% - 20px); // Chiếm 50% chiều rộng trên màn hình nhỏ
      }

      @media (max-width: 480px) {
        flex-basis: 100%; // Chiếm toàn bộ chiều rộng trên màn hình rất nhỏ
      }
    }
  }
}
