<div class="container">
  <h1>User Infor</h1>

  <div class="user-info">
    <img src='assets/screen1/avatar.png' alt="User Avatar" class="avatar" />
    <p><strong>Username:</strong> {{ userName }}</p>
    <p><strong>Token:</strong> {{ token }}</p>
  </div>
</div>
