
.container {
  padding: 20px;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;

  h1 {
    color: #333;
    text-align: center;
  }

  .user-info {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;

    .avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    p {
      color: #555;
      line-height: 1.6;
    }

    strong {
      color: #000;
    }
  }
}
