<div>
  <ul class="navbar-nav">
    <!-- static links -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" routerLink="" routerLinkActive="active">Logout</a>
    </li>
    <!-- dynamic links from the mf.manifest.json -->
    <li *ngFor="let remote of remotes">
      <a
        class="nav-link"
        [routerLink]="remote.routePath"
        routerLinkActive="active"
        >{{ remote.displayName }}</a
      >
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
