/* Style for the container div */
div {
  padding: 10px;
  background-color: #f0f0f0;
}

/* Style for the navbar */
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: #333;
}

/* Style for navbar items */
.nav-item {
  margin-right: 10px;
}

/* Style for navbar links */
.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: block;
}

/* Style for active links */
.active {
  background-color: #555;
}

/* Style for router outlet */
router-outlet {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}
